
.property-card h5{
    margin: 0px;
    font-size: 1.4em;
    font-weight: 700;
}
.property-card p{
    font-size: 12px;
}
.property-card {
    height: 19em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    margin-right: 20px;
    margin-bottom: 20px;
}
.property-image{
    height: 60%;
    width: 100%;
    padding: 1em 2em;
    position: absolute;
    top: 0px;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-size: cover;
    background-repeat: no-repeat;
}
.property-description{
    background-color: #FAFAFC;
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 0em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align: center;
}
.property-play-icons{
    width: 2em;
    height: 2em;
    position: absolute;
    bottom: 0.5em;
    left: 1em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
}
.property-play-icons img{
    height: 100%;
    width: 100%;
}
.property-card:hover .property-description{
    height: 0em;
    padding: 0px 1em;
}
.property-card:hover .property-image{
    height: 100%;
}
.property-card:hover .property-social-icons{
    background-color: var(--white);
}
.property-card:hover .property-social-icons:hover{
    background-color :blue;
    cursor: pointer;
}
